microsoft-integration/WSEClient_Net2.0/MerchantAPI/ServiceMetadata/components/coreTypes-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Document: coreTypes-1.0.xsd
	Version:  1.0
	Copyright 2008 Earthport Plc. All rights reserved.	
-->
<xsd:schema
	xmlns="http://customer.endpoint.earthport.com/api/merchant/v1/components/core"
	targetNamespace="http://customer.endpoint.earthport.com/api/merchant/v1/components/core"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			Core types used by the Earthport UPN Merchant API.
		</xsd:documentation>
	</xsd:annotation>

	<xsd:simpleType name="MerchantUserIdentityType">
		<xsd:annotation>
			<xsd:documentation>
				A unique reference for the merchant that identifies the
				person or company on behalf of which this account was
				set up. This needs to be used to reference KYC data held
				by the merchant (amongst other things). This is often a
				unique username or reference allocated by the merchant
				at user registration time.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="100" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="MerchantIdentityType">
		<xsd:annotation>
			<xsd:documentation>
				Refers to the descriptive name used to identify a given
				merchant. It is unique across Earthport merchants.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="30" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="CountryCodeType">
		<xsd:annotation>
			<xsd:documentation>
				Valid supported ISO 3166 2-character country code.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="2" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="LocaleType">
		<xsd:annotation>
			<xsd:documentation>
				Valid supported ISO 2-character language code.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="2" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="CurrencyCodeType">
		<xsd:annotation>
			<xsd:documentation>
				Valid supported ISO 4217 3-character currency code.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="3" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="GenericAmountType">
		<xsd:restriction base="xsd:decimal" />
	</xsd:simpleType>

	<xsd:simpleType name="GenericPositiveAmountType">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="GenericDateType">
		<xsd:restriction base="xsd:date" />
	</xsd:simpleType>

	<xsd:simpleType name="GenericTimestampType">
		<xsd:restriction base="xsd:dateTime" />
	</xsd:simpleType>

	<xsd:simpleType name="GenericDescriptionType">
		<xsd:annotation>
			<xsd:documentation>
				Generic description field.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0" />
			<xsd:maxLength value="255" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="MerchantTransactionRefType">
		<xsd:annotation>
			<xsd:documentation>
				Merchant transaction reference type.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0" />
			<xsd:maxLength value="255" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TransactionType">
		<xsd:annotation>
			<xsd:documentation>EPS transaction type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="0" />
			<xsd:maxInclusive value="999" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="PaymentIDType">
		<xsd:annotation>
			<xsd:documentation>EPS payment identity.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:long">
			<xsd:minInclusive value="0" />
			<xsd:maxInclusive value="999999999999999" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="VanType">
		<xsd:annotation>
			<xsd:documentation>
				A virtual account number (VAN).
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="13" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="UIDType">
		<xsd:annotation>
			<xsd:documentation>
				Generic entity identity.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:long">
			<xsd:minInclusive value="0" />
			<xsd:maxInclusive value="9999999999999" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="DepositReferenceType">
		<xsd:annotation>
			<xsd:documentation>
				A Merchant User Deposit Reference.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="5" />
			<xsd:maxLength value="12" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="UserIDType">
		<xsd:annotation>
			<xsd:documentation>
				This group consists of all possible user identifier
				types.

				The 'epUserID' field is a unique identifier for a
				merchant and is the equivalent of a Virtual Account
				Number (VAN).

				The 'merchantUserID' is a merchant specified identifier
				for an individual or company that an account was set up
				for.

				The 'epUserID', 'merchantUserID' or both 'epUserID' and
				'merchantUserID' can be supplied. A mapping will be
				performed to retrieve the merchant user ID from the
				supplied EP user ID and vice versa.

				If both the 'epUserID' and 'merchantUserID' are
				supplied, a check will be performed to ensure that the
				two are mapped. If the two provided fields are not
				mapped, then a validation error code will be returned.

				At least one of the fields must be populated.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="epUserID" type="EPUserIDType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="merchantUserID" type="MerchantUserIDType"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="BeneficiaryIdentityType">
		<xsd:annotation>
			<xsd:documentation>
				Represents the beneficiary identity of an individual or
				company. 
				
				You must specify one of either a beneficiary individual
				identity or beneficiary company identity.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="beneficiaryIndividualIdentity"
				type="BeneficiaryIndividualIdentityType" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="beneficiaryCompanyIdentity"
				type="BeneficiaryCompanyIdentityType" minOccurs="0" maxOccurs="1" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="BeneficiaryIndividualIdentityType">
		<xsd:annotation>
			<xsd:documentation>
				The identity of a beneficiary individual.
				
				The 'firstName' and 'lastName' attributes are mandatory
				for an individual. All other attributes are optional.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="firstName" type="FirstNameType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="lastName" type="LastNameType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="address" type="AddressType" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="identification" type="IdentificationType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="birthInformation" type="BirthInformationType"
				minOccurs="0" maxOccurs="1" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="BeneficiaryCompanyIdentityType">
		<xsd:annotation>
			<xsd:documentation>
				The identity of a beneficiary company.
				
				The 'companyName' attribute is mandatory.
				The 'companyRegistration' attribute	is an optional attribute. 
				The 'address' is an	optional attribute.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="companyName" type="CompanyNameType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="companyRegistration"
				type="CompanyRegistrationType" minOccurs="0" maxOccurs="1" />
			<xsd:element name="address" type="AddressType" minOccurs="0"
				maxOccurs="1" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="PayerIdentityType">
		<xsd:annotation>
			<xsd:documentation>
				Represents the payer identity of an individual or
				company.
				
				You must specify one of either a payer individual
				identity or payer company identity.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="payerIndividualIdentity"
				type="PayerIndividualIdentityType" minOccurs="0" maxOccurs="1" />
			<xsd:element name="payerCompanyIdentity"
				type="PayerCompanyIdentityType" minOccurs="0" maxOccurs="1" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="PayerIndividualIdentityType">
		<xsd:annotation>
			<xsd:documentation>
				The identity of a payer individual.
				
				The 'firstName' and 'lastName' attributes are mandatory
				for an individual. All other attributes are optional.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="firstName" type="FirstNameType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="lastName" type="LastNameType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="address" type="AddressType" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="identification" type="IdentificationType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="birthInformation" type="BirthInformationType"
				minOccurs="0" maxOccurs="1" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="PayerCompanyIdentityType">
		<xsd:annotation>
			<xsd:documentation>
				The identity of a payer company.
				
				The 'companyName' and 'companyRegistration' attributes
				are mandatory for a company. The 'address' is an 
				optional attribute.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="companyName" type="CompanyNameType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="companyRegistration"
				type="CompanyRegistrationType" minOccurs="1" maxOccurs="1" />
			<xsd:element name="address" type="AddressType" minOccurs="0"
				maxOccurs="1" />
		</xsd:all>
	</xsd:complexType>

    <xsd:complexType name="PayerIdentityIDType">
        <xsd:annotation>
            <xsd:documentation>
            	ComplexType wrapper for the payer identity UID.
            </xsd:documentation>
        </xsd:annotation>    
    	<xsd:sequence>
			<xsd:element name="payerIdentityID" type="UIDType" 
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="BeneficiaryIdentityIDType">
        <xsd:annotation>
            <xsd:documentation>
            	ComplexType wrapper for the beneficiary identity UID.
            </xsd:documentation>
        </xsd:annotation>    
    	<xsd:sequence>
			<xsd:element name="beneficiaryIdentityID" type="UIDType" 
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
    </xsd:complexType>

	<xsd:complexType name="MonetaryValueType">
		<xsd:annotation>
			<xsd:documentation>
				Represents a monetary value containing a decimal amount
				value along with a currency code.

				The currency code is a three letter ISO 4217 code. E.g.
				GBP for British sterling pounds.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="currency" type="CurrencyCodeType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="amount" type="GenericPositiveAmountType"
				minOccurs="1" maxOccurs="1" />
		</xsd:all>
	</xsd:complexType>
	
	<xsd:complexType name="MonetaryBalanceType">
		<xsd:annotation>
			<xsd:documentation>
				Represents a monetary balance containing a decimal amount
				value (which allows negative values) along with a currency code,
				a current balance timestamp, and a last movement timestamp.

				The currency code is a three letter ISO 4217 code. E.g.
				GBP for British sterling pounds.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="currency" type="CurrencyCodeType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="amount" type="GenericAmountType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="balanceTimestamp" type="GenericTimestampType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                	<xsd:documentation>The timestamp of when this balance was current at. (This is most likely to be within milliseconds of the request time)</xsd:documentation></xsd:annotation>
			</xsd:element>
			<xsd:element name="lastMovementTimestamp" type="GenericTimestampType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The timestamp of the last money movement on the customer’s account.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	
	<xsd:complexType name="AddressType">
		<xsd:annotation>
			<xsd:documentation>
				Represents an address containing a required first line
				of address, city, province, postcode and country.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="addressLine1" type="AddressLineType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="addressLine2" type="AddressLineType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="addressLine3" type="AddressLineType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="city" type="AddressLineType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="province" type="AddressLineType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="postcode" type="PostcodeType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="country" type="CountryCodeType"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="BirthInformationType">
		<xsd:annotation>
			<xsd:documentation>
				The group consists of elements that define birth information
				for an individual.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="cityOfBirth" type="AddressLineType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="countryOfBirth" type="CountryCodeType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="dateOfBirth" type="GenericDateType"
				minOccurs="1" maxOccurs="1" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="IdentificationType">
		<xsd:annotation>
			<xsd:documentation>
				This group consists of an individual identification type
				unique number and the country of origin of the
				identification.

				The identification number will normally be the
				equivalent of a passport number, but other types of
				identification can be used.

				The identification country will be the country that
				issued the identification number, so in the example that
				a passport number is provided as the identification
				number, the identification country will be the passport
				country origin.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="identificationNumber"
				type="IdentificationNumberType" minOccurs="1" maxOccurs="1" />
			<xsd:element name="identificationCountry"
				type="CountryCodeType" minOccurs="1" maxOccurs="1" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="CompanyRegistrationType">
		<xsd:annotation>
			<xsd:documentation>
				This group consists of an company registration number
				type and the country that the company is registered in.
				
				All attributes are mandatory for a company registration 
				entity.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="companyRegistrationNumber"
				type="CompanyRegistrationNumberType" minOccurs="1" maxOccurs="1" />
			<xsd:element name="companyRegistrationCountry"
				type="CountryCodeType" minOccurs="1" maxOccurs="1" />
		</xsd:all>
	</xsd:complexType>

	<xsd:simpleType name="FirstNameType">
		<xsd:annotation>
			<xsd:documentation>
				The first name component of an identity.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="254" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="LastNameType">
		<xsd:annotation>
			<xsd:documentation>
				The first name component of an identity.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="254" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="CompanyNameType">
		<xsd:annotation>
			<xsd:documentation>
				The name component of the company.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="254" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="CompanyRegistrationNumberType">
		<xsd:annotation>
			<xsd:documentation>
				The registration number component of the company.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="254" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="AddressLineType">
		<xsd:annotation>
			<xsd:documentation>
				A line of address information.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="254" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="PostcodeType">
		<xsd:annotation>
			<xsd:documentation>
				A line of address information.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="10" />
		</xsd:restriction>
	</xsd:simpleType>
	
		<xsd:simpleType name="IdentificationNumberType">
		<xsd:annotation>
			<xsd:documentation>
				An identification number for an invidividual. 
				For example, a passport number can be an identification
				number type.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="50" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="EPUserIDType">
		<xsd:annotation>
			<xsd:documentation>
				The EP User ID is the equivalent of the Virtual Account
				Number (VAN) that can be used as a unique identifier for
				a merchant.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="13" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="MerchantUserIDType">
		<xsd:annotation>
			<xsd:documentation>
				This is a merchant specified unique reference that
				identifies the person or company that an account was set
				up for. This is allocated by the merchant at user
				registration time.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="100" />
		</xsd:restriction>
	</xsd:simpleType>
		
	<xsd:simpleType name="MoneyMovementType">
        <xsd:annotation>
        	<xsd:documentation>Specifies whether a money movement is a debit or credit</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
			<xsd:enumeration value="Debit" />
			<xsd:enumeration value="Credit" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="FXRateType">
		<xsd:annotation>
			<xsd:documentation>
				Represents an FX rate between two currencies, the rate
				is restricted to 6 decimal places.

				The currency code is a three letter ISO 4217 code. E.g.
				GBP for British sterling pounds.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="sellCurrency" type="CurrencyCodeType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="buyCurrency" type="CurrencyCodeType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="rate" 
				minOccurs="1" maxOccurs="1" >
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="6"/>
					 </xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	
	<xsd:complexType name="FXDetailType">
		<xsd:annotation>
			<xsd:documentation>
				Represents the details of an FX transaction,
				encapsulating the sellAmount, buyAmount and
				fxRate into a single type.
				</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="sellAmount" type="MonetaryValueType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Sell Amount is the same as the Sell Amount
						specified in the request by the Merchant.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="buyAmount" type="MonetaryValueType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						Buy Amount will have the same currency as the
						Buy Currency specified in the request by the
						merchant. The amount will be a value produced by
						applying the fxRate below to the sell amount.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="fxRate" type="FXRateType"
				minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						FX Rate is the exchange rate at which the buy
						currency is exchanged into the sell currency. In
						other words it is the buyCurrency:SellCurrency
						conversation ratio.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="PaginationType">
        <xsd:annotation>
        	<xsd:documentation>
        		Allows for paging through a large result set. 
        		To start at the beginning of the result set, set offset to 0. 
        	</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
        	<xsd:element name="offset" type="xsd:int" minOccurs="1" maxOccurs="1">
        		<xsd:annotation>
        			<xsd:documentation>
        				0-based starting offset of the page wrt the
        				entire resultset.
        			</xsd:documentation>
        		</xsd:annotation>
        	</xsd:element>
        	<xsd:element name="pageSize" type="xsd:int" minOccurs="0" maxOccurs="1">
        		<xsd:annotation>
        			<xsd:documentation>Number of items per page to return. If empty the maximum allowable number of records will be returned.
        			</xsd:documentation>
        		</xsd:annotation>
        	</xsd:element>
        </xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PaginationResultType">
		<xsd:complexContent>
			<xsd:extension base="PaginationType">
				<xsd:sequence>
					<xsd:element name="totalNumberOfRecords" type="xsd:int" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Total number of records in full result set.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="SortCriteriaType">
	    <xsd:annotation>
        	<xsd:documentation>Additional criteria to manage sort order. E.g. for use in queries.</xsd:documentation>
        </xsd:annotation>
		<xsd:sequence>
			<xsd:element name="sortOrder" type="SortOrderType" minOccurs="1" maxOccurs="1">
			</xsd:element>
			<xsd:element name="sortFields" type="AbstractSortFieldsType" minOccurs="1" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="SortOrderType">
        <xsd:annotation>
        	<xsd:documentation>Specifies an order sequence.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
			<xsd:enumeration value="ASC" />
			<xsd:enumeration value="DESC" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="AbstractSearchCriteriaType" abstract="true">
		<xsd:annotation>
        	<xsd:documentation>
        	Base type of all search criteria elements. Allows for extra sorting 
        	parameters to be passed in addition to service specific search 
        	criteria.
        	</xsd:documentation>
        </xsd:annotation>
		<xsd:sequence>
			<xsd:element name="sortCriteria" type="SortCriteriaType"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="FXExecutedRateType">
		<xsd:sequence>
			<xsd:element name="fxRate" type="FXRateType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Represents rate details of an executed FX trade. 
The fxTicketID references an optional FXQuote if one was used as a precursor to the trade.</xsd:documentation>
				</xsd:annotation></xsd:element>
			<xsd:element name="fxTicketID" type="FXTicketIDType" minOccurs="0" maxOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="FXTicketIDType">
		<xsd:sequence>
			<xsd:element name="ticketID" type="UIDType" minOccurs="1" maxOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="RefundPayoutIDType">
		<xsd:sequence>
			<xsd:element name="paymentID" type="PaymentIDType" minOccurs="1" maxOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AbstractSortFieldsType" abstract="true">
        <xsd:annotation>
        	<xsd:documentation>Extensions must provide enumerated list of valid search fields</xsd:documentation>
        </xsd:annotation>
	</xsd:complexType>

</xsd:schema>