microsoft-integration/WSEClient_Net2.0/MerchantAPI/ServiceMetadata/components/financialTransactionBaseTypes-3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Document: financialTransactionBaseTypes-3.0.xsd
	Version:  3.0
	Copyright 2008 Earthport Plc. All rights reserved.	
-->
<xsd:schema
	targetNamespace="http://customer.endpoint.earthport.com/api/merchant/v3/components/financialTransactionBase"
	xmlns="http://customer.endpoint.earthport.com/api/merchant/v3/components/financialTransactionBase"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:epcore="http://customer.endpoint.earthport.com/api/merchant/v2/components/core"
	xmlns:epbb="http://customer.endpoint.earthport.com/api/merchant/v3/components/bankBase"
	xmlns:epident="http://customer.endpoint.earthport.com/api/merchant/v2/components/identityBase"
	xmlns:eppo="http://customer.endpoint.earthport.com/api/merchant/v1/components/payoutBase"	
	elementFormDefault="qualified"
	version="3.0">

    <xsd:import namespace="http://customer.endpoint.earthport.com/api/merchant/v2/components/core" 
    	schemaLocation="coreTypes-2.0.xsd" />
   	<xsd:import namespace="http://customer.endpoint.earthport.com/api/merchant/v3/components/bankBase" 
  		schemaLocation="bankBaseTypes-3.0.xsd" />
	<xsd:import namespace="http://customer.endpoint.earthport.com/api/merchant/v2/components/identityBase"
		schemaLocation="../components/identityBaseTypes-2.0.xsd" />
  			
	<xsd:complexType name="FinancialTransactionType"
		abstract="true">
		<xsd:annotation>
			<xsd:documentation>
				Minimum set of data that constitutes a financial
				transaction.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="epTransactionID"
				type="epcore:PaymentIDType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						A transaction ID uniquely identifying the
						transaction in the EPS system.For all
						transaction types this is the internal Earthport
						payment ID.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timestamp"
				type="epcore:GenericTimestampType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						A timestamp of the transaction
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="transactionType"
				type="FinancialTransactionTypeType" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						The type of the transaction
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="transactionStatus"
				type="FinancialTransactionStatusType" minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="amount" type="epcore:MonetaryValueType"
				minOccurs="1" maxOccurs="1">
			</xsd:element>
			<xsd:element name="movementType" type="epcore:MoneyMovementType" minOccurs="1" maxOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PayoutTransactionType">
		<xsd:annotation>
			<xsd:documentation>
				A financial transaction representing a payout from an account held in the EPS system.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FinancialTransactionType">
				<xsd:sequence>
					<xsd:element name="merchantTransactionReference"
						type="epcore:MerchantTransactionRefType" minOccurs="1"
						maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Transaction reference as applied by
								merchant.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="usersBankId"
						type="epbb:UsersBankIDType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Number of the target beneficiary bank
								account of the payout transaction.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="RefundType">
		<xsd:annotation>
			<xsd:documentation>
				A financial transaction representing a refund (by a bank or other third-party) to the merchant's account.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FinancialTransactionType">
				<xsd:sequence>
					<xsd:element name="userID" type="epcore:UserIDType" minOccurs="1" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="UserDepositType">
		<xsd:annotation>
			<xsd:documentation>
				A financial transaction representing money paid into a merchant's account by a user.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FinancialTransactionType">

				<xsd:sequence>
					<xsd:element name="userID"
						type="epcore:UserIDType" minOccurs="1" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>

			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="LiquidityDepositType">
		<xsd:annotation>
			<xsd:documentation>
				Financial transaction representing a deposit of liquidity (money) into a merchant account.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FinancialTransactionType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="JournalType">
		<xsd:annotation>
			<xsd:documentation>
				Financial transaction representing a journal entry
				against an account.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FinancialTransactionType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"
						minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								A reason or description or narrative as
								entered against the journal entry.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:simpleType name="FinancialTransactionTypeType">
	<xsd:annotation>
		<xsd:documentation>
			Different types of financial transactions that are stored in the system. 
			Each of the transactions represents a money movement against a virtual account, i.e. they have an impact on the 
			balance of the account.
		</xsd:documentation>
	</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Payout"></xsd:enumeration>
			<xsd:enumeration value="Refund"></xsd:enumeration>
			<xsd:enumeration value="User Deposit"></xsd:enumeration>
			<xsd:enumeration value="Merchant Liquidity Deposit"></xsd:enumeration>
			<xsd:enumeration value="Journal"></xsd:enumeration>
			<xsd:enumeration value="Merchant Liquidity Movement"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="FinancialTransactionStatusType">
		<xsd:annotation>
			<xsd:documentation>
				Additional important status information for specific transaction types. See the enumeration for details.
			</xsd:documentation>
		</xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Rejected Payout" />
            <xsd:enumeration value="Returned Payout" />
            <xsd:enumeration value="Insufficient Merchant Liquidity" />
            <xsd:enumeration value="Awaiting Execution" />
            <xsd:enumeration value="Awaiting Completion" />
            <xsd:enumeration value="Complete" />
            <xsd:enumeration value="Awaiting Future Value Date" />
            <xsd:enumeration value="Awaiting Merchant Approval" /> 
        </xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="FinancialTransactionsListType">
		<xsd:annotation>
			<xsd:documentation>
				Array of financial transactions which can be of any type
				- payouts, deposits, refunds, etc.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="financialTransaction"
				type="FinancialTransactionType" minOccurs="0"
				maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PayoutTransactionDetailType">
		<xsd:annotation>
			<xsd:documentation>
				A financial transaction representing a payout from an account held in the EPS system.
				This element contains all details pertaining to this financial transaction.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PayoutTransactionType">
				<xsd:sequence>
					<xsd:element name="fxExecutedDetail"
						type="epcore:FXExecutedRateType" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								ID of the FX Ticket that was used when
								performing the FX during the payout.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="payoutRequestAmount"
						type="epcore:MonetaryValueType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Monetary amount and currency of the
								original payout request
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="settlementInstructionAmount"
						type="epcore:MonetaryValueType" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="beneficiaryStatementNarrative"
						type="epcore:GenericDescriptionType" minOccurs="0"
						maxOccurs="1">
					</xsd:element>
					<xsd:element name="dateSentToBank"
						type="epcore:GenericDateType" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Date of when the payment was actually
								sent to the bank.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="expectedSettlementDate"
						type="epcore:GenericDateType" minOccurs="0" maxOccurs="1">
                        <xsd:annotation>
                        	<xsd:documentation>Indicative date when the payout instruction is expected to be settled to the bank. This is calculated taking into account such things as acceptedDate, the settlement agreement cut-off time and period, etc. It currently does not take into account individual countries' banking calendars.</xsd:documentation></xsd:annotation>
					</xsd:element>
					<xsd:element name="beneficiaryBankCountry"
						type="epcore:CountryCodeType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Country of the target beneficiary bank.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="beneficiaryBankCurrency"
						type="epcore:CurrencyCodeType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Currency of the target beneficiary bank
								account.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="refundPayoutID"
						type="epcore:RefundPayoutIDType" minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="debitValueDate"
						type="epcore:GenericTimestampType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								This is the same as financial
								transaction date included here for PSD
								reasons.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="payerIdentity" type="epident:PayerIdentityType" minOccurs="1" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="RefundDetailType">
		<xsd:annotation>
			<xsd:documentation>
				A financial transaction representing a refund (by a bank or other third-party) to the merchant's account.
				This element contains all details pertaining to this financial transaction.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="RefundType">
				<xsd:sequence>
					<xsd:element name="fxExecutedDetail"
						type="epcore:FXExecutedRateType" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								The FX rate used to convert from the
								amount as refunded by the bank to the
								actual amount to be refunded to the
								customer.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="amountRefundedByBank"
						type="epcore:MonetaryValueType" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="amountRefundedToCustomer"
						type="epcore:MonetaryValueType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Amount and currency of the refund
								transaction after any FX as refunded to
								the customer.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
                    <xsd:element name="reason" type="epcore:ReasonType" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Reason for the refund as specified by
								the Business Banking Operations
								Department.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
                    <xsd:element name="originalPayoutTransaction" type="PayoutTransactionType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Contains details of the original payout
								transaction that resulted in this
								refund.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
                </xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="UserDepositDetailType">
		<xsd:annotation>
			<xsd:documentation>
				A financial transaction representing money paid into a merchant's account by a user.
				This element contains all details pertaining to this financial transaction.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UserDepositType">
				<xsd:sequence>
					<xsd:element name="depositDate"
						type="epcore:GenericDateType" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="depositCountry"
						type="epcore:CountryCodeType" minOccurs="1" maxOccurs="1">
					</xsd:element>
                    <xsd:element name="unappliedReason"
						type="xsd:string" minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="depositReference"
						type="xsd:string" minOccurs="0" maxOccurs="1">
					</xsd:element>
                    <xsd:element name="fxExecutedDetail" type="epcore:FXExecutedRateType" minOccurs="0" maxOccurs="1">
					</xsd:element>
                    <xsd:element name="amountDepositedByUser" type="epcore:MonetaryValueType" minOccurs="1" maxOccurs="1"></xsd:element>
                    <xsd:element name="amountDepositedToMerchant" type="epcore:MonetaryValueType" minOccurs="1" maxOccurs="1"></xsd:element>
                </xsd:sequence>

			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="LiquidityDepositDetailType">
		<xsd:annotation>
			<xsd:documentation>
				Financial transaction representing a deposit of liquidity (money) into a merchant account.
				This element contains all details pertaining to this financial transaction.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LiquidityDepositType">
				<xsd:sequence>
					<xsd:element name="depositDate"
						type="epcore:GenericDateType" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="depositCountry"
						type="epcore:CountryCodeType" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="unappliedReason"
						type="xsd:string" minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="depositReference"
						type="xsd:string" minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="fxExecutedDetail"
						type="epcore:FXExecutedRateType" minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="amountCreditedToMerchantAccount" type="epcore:MonetaryValueType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								An amount representing the amount of money recieved into the merchants
								account. This is expected to be the same as the financial transaction amount
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="amountRecievedAtBank" type="epcore:MonetaryValueType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								An amount representing the amount of money recieved on the statement line
								item. This may differ from amountCreditedToMerchantAccount due to charges
								or FX 
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="JournalDetailType">
		<xsd:annotation>
			<xsd:documentation>
				Financial transaction representing a journal entry
				against an account.
				This element contains all details pertaining to this financial transaction.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="JournalType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="MerchantLiquidityMovementType">
		<xsd:annotation>
			<xsd:documentation>
				A financial transaction representing movement of funds between a merchant's accounts held in the EPS system.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FinancialTransactionType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="MerchantLiquidityMovementDetailType">
		<xsd:annotation>
			<xsd:documentation>
				A financial transaction representing movement of funds between a merchant's accounts held in the EPS system.
				Such a movement will usually be between accounts of different currencies and thus will involve an FX transfer.
				This element contains all details pertaining to this financial transaction.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="MerchantLiquidityMovementType">
				<xsd:sequence>
					<xsd:element name="fxExecutedDetail"
						type="epcore:FXDetailType" minOccurs="0" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>