microsoft-integration/WSEClient_Net2.0/MerchantAPI/ServiceMetadata/components/identityBaseTypes-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<!--
		Document: identityBaseTypes-2.0.xsd Version: 2.0 Copyright 2011
		Earthport Plc. All rights reserved.
	-->
<xsd:schema
	xmlns="http://customer.endpoint.earthport.com/api/merchant/v2/components/identityBase"
	targetNamespace="http://customer.endpoint.earthport.com/api/merchant/v2/components/identityBase"
	xmlns:epcore="http://customer.endpoint.earthport.com/api/merchant/v2/components/core"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	version="2.0">

	<xsd:import
		namespace="http://customer.endpoint.earthport.com/api/merchant/v2/components/core"
		schemaLocation="coreTypes-2.0.xsd" />

	<xsd:annotation>
		<xsd:documentation>
			Identity type definitions as used by the Earthport
			UPN
			Merchant API, specifically used for the payer identity and
			Beneficiary Bank Account owner ID
		</xsd:documentation>
	</xsd:annotation>

	<xsd:complexType name="BeneficiaryIdentityType">
		<xsd:annotation>
			<xsd:documentation>
				Represents the beneficiary identity of an
				individual or
				legal entity.

				You must specify one of either a beneficiary individual
				identity or
				beneficiary legal entity identity.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="beneficiaryIndividualIdentity" type="BeneficiaryIndividualIdentityType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="beneficiaryLegalEntityIdentity" type="BeneficiaryLegalEntityIdentityType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="additionalDataList" type="BeneficiaryAdditionalDataListType" minOccurs="0" maxOccurs="1" />
			
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="BeneficiaryIndividualIdentityType">
		<xsd:annotation>
			<xsd:documentation>
				The identity of a beneficiary individual.

				The 'name' attribute is mandatory
				for an individual. All other
				attributes are optional.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="IndividualNameType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="address" type="AddressType" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="identificationList" type="IdentificationListType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="birthInformation" type="BirthInformationType"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="BeneficiaryLegalEntityIdentityType">
		<xsd:annotation>
			<xsd:documentation>
				The identity of a beneficiary legal entity.

				The 'legalEntityName' attribute is mandatory.
				The
				'legalEntityRegistration' attribute is an optional attribute.
				The 'address' is an optional attribute.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="legalEntityName" type="LegalEntityNameType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="legalEntityRegistration" type="LegalEntityRegistrationType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="address" type="AddressType" minOccurs="0"
				maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PayerIdentityType">
		<xsd:annotation>
			<xsd:documentation>
				Represents the payer identity of an individual or
				legal entity.

				You must specify one of either a payer individual
				identity or payer
				legal entity identity.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="payerIndividualIdentity" type="PayerIndividualIdentityType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="payerLegalEntityIdentity" type="PayerLegalEntityIdentityType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="additionalDataList" type="PayerAdditionalDataListType"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PayerIndividualIdentityType">
		<xsd:annotation>
			<xsd:documentation>
				The identity of a payer individual.

				The 'name' attribute is mandatory
				for an individual.

				You must supply at least identification entry or one birth
				information entry or one address entry.
			</xsd:documentation>
		</xsd:annotation>

		<xsd:sequence>
			<xsd:element name="name" type="IndividualNameType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="address" type="AddressType" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="identificationList" type="IdentificationListType"
					minOccurs="0" maxOccurs="1" />
			<xsd:element name="birthInformation" type="BirthInformationType"
					minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PayerLegalEntityIdentityType">
		<xsd:annotation>
			<xsd:documentation>
				The identity of a payer legal entity.

				The 'legalEntityName' is mandatory.

				You must supply one of 'legalEntityRegistration' or 'address'.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="legalEntityName" type="LegalEntityNameType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="legalEntityRegistration" type="LegalEntityRegistrationType"
					minOccurs="0" maxOccurs="1" />
			<xsd:element name="address" type="AddressType"
					minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="BirthInformationType">
		<xsd:annotation>
			<xsd:documentation>
				The group consists of elements that define birth
				information
				for an individual.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="cityOfBirth" type="AddressLineType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="countryOfBirth" type="epcore:CountryCodeType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="dateOfBirth" type="epcore:GenericDateType"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="IdentificationType">
		<xsd:annotation>
			<xsd:documentation>
				This group consists of an individual
				identification type
				unique number and the country of origin of the
				identification.

				The idType will be a String value saying what the
				identification number relates to. This might be Passport.
				national ID
				card, driving licence or any other value.
				The idType will be
				validated against an enumeration to ensure it
				is of a valid type.
				Please refer to the "API Solution Guide" for further details.

				The identification number will normally be the
				equivalent of a passport
				number, but other types of
				identification can be used.

				The
				identification country will be the country that
				issued the
				identification number, so in the example that
				a passport number is
				provided as the identification
				number, the identification country
				will be the passport
				country origin.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="idType" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="identificationNumber" type="IdentificationNumberType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="identificationCountry" type="epcore:CountryCodeType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="validFromDate" type="epcore:GenericDateType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="validToDate" type="epcore:GenericDateType"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="LegalEntityRegistrationType">
		<xsd:annotation>
			<xsd:documentation>
				This group consists of a legal entity registration
				number
				type and the country that the legal entity is registered in.

				Legal Entity Registration Number is mandatory
				Legal Entity
				Registration Country is mandatory
				Legal Entity Registration Province
				is optional
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="legalEntityRegistrationNumber" type="LegalEntityRegistrationNumberType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="legalEntityRegistrationCountry" type="epcore:CountryCodeType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="legalEntityRegistrationProvince" type="xsd:string"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="IndividualNameType">
		<xsd:annotation>
			<xsd:documentation>
				The name component of the individual.

				The 'givenNames' attribute is mandatory. This is a space separated list
				of names (not including the family name).
				You should supply names and not initials (wherever possible).
				See
				examples below.


				The 'familyName' attribute is mandatory. This contains the single
				family name.
				See examples below.

				Example1 - a western citizen from a country which uses the common western
				naming convention(such as US, GB, FR, CA, DE etc...)

				Name = "John Michael Smith", givenNames="John Michael" and
				familyName="Smith"

				Example2 - a citizen from a country which uses the eastern name order where
				the family name comes first, followed by their given names
				(such as Hungary, China, Japan, Korea, Singapore, Taiwan, Vietnam etc...)

				Name = "Máo Zédōng", giveNames="Zédōng" and familyName="Máo"
				Name =
				"Hidetoshi Nakata", givenNames="Nakata" and familyName="Hidetoshi"
				Name = "Ferenc Puskás", giveNames="Puskás" and familyName="Ferenc"

				Example3 - middle east names

				Name= "Mohammed bin Rashid bin Saeed Al-Maktoum", givenNames="Mohammed
				bin Rashid bin Saeed" and familName="Al-Maktoum"

				Example4 - single names, such as in Indonesia

				Name="Suharto", givenNames="Suharto" and familyName="Suharto"
				
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="givenNames" type="GivenNameType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="familyName" type="FamilyNameType"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:simpleType name="LegalEntityNameType">
		<xsd:annotation>
			<xsd:documentation>
				The name component of the legal entity.

				The length of this field is limited to 1024 bytes.
				1024 bytes can hold 1024 normal English characters.				
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="1024" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="LegalEntityRegistrationNumberType">
		<xsd:annotation>
			<xsd:documentation>
				The registration number component of the legal
				entity.

				The length of this field is limited to 254 bytes.
				254 bytes can hold 254 normal English characters.
				This value will be truncated if it is too long.	
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="254" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="GivenNameType">
		<xsd:annotation>
			<xsd:documentation>
				The given names component of an individual's identity.

				For detailed examples see documentation for type IndividualNameType.

					The length of this field is limited to 1024 bytes.
					1024 bytes can hold 1024 normal English characters.
				
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="1024" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="FamilyNameType">
		<xsd:annotation>
			<xsd:documentation>
				The first name component of an individual's
				identity.

				The length of this field is limited to 1024 bytes.
				1024 bytes can hold 1024 normal English characters.				
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="1024" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="IdentificationNumberType">
		<xsd:annotation>
			<xsd:documentation>
				An identification number for an individual.
				For example, a passport number can be an identification
				number type.

				The length of this field is limited to 50 bytes.
				50 bytes can hold 50 normal English characters.
				This value will be truncated if it is too long.	
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="50" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="AddressType">
		<xsd:annotation>
			<xsd:documentation>
				Represents an address.

				Mandatory attributes are 'addressLine1', 'city' and 'country'. All other
				attributes are optional.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="addressLine1" type="AddressLineType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="addressLine2" type="AddressLineType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="addressLine3" type="AddressLineType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="city" type="AddressLineType"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="province" type="AddressLineType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="postcode" type="PostcodeType"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="country" type="epcore:CountryCodeType"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="AddressLineType">
		<xsd:annotation>
			<xsd:documentation>
				A line of address information.

				The length of this field is limited to 254 bytes.
				254 bytes can hold 254 normal English characters.
				This value will be truncated if it is too long.	
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="254" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="PostcodeType">
		<xsd:annotation>
			<xsd:documentation>
				A line of address information.

				The length of this field is limited to 10 bytes.
				10 bytes can hold 10 normal English characters.
				This value will be truncated if it is too long.	
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:maxLength value="10" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="PayerAdditionalDataType">
		<xsd:annotation>
			<xsd:documentation>
				Represents a set of name value pairs that can be
				supplied
				with the Identity information.

				The keys will be validated on the server side against a list of valid
				types that
				are accepted. See the "API Solution Guide" for further
				details.

				Both the key and the value are required if adding additional data

				The length of the additionalDataKey field is currently restricted to 50
				bytes and
				will be truncated if the value is too long.

				The length of the additionalDataValue field is currently restricted to
				254 bytes
				and will be truncated if the value is too long.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="additionalDataKey" type="xsd:string"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="additionalDataValue" type="xsd:string"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="BeneficiaryAdditionalDataType">
		<xsd:annotation>
			<xsd:documentation>
				Represents a set of name value pairs that can be
				supplied
				with the Identity information.

				The keys will be validated on the server side against a list of valid
				types that
				are accepted.

				Both the key and the value are required if adding additional data

				The length of the additionalDataKey field is currently restricted to 50
				bytes.

				The length of the additionalDataValue field is currently restricted to
				1024.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="additionalDataKey" type="xsd:string"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="additionalDataValue" type="xsd:string"
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="BeneficiaryAdditionalDataListType">
		<xsd:annotation>
			<xsd:documentation>
				Represents a list of Additional Data for Beneficiary Identity
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="additionalData" type="BeneficiaryAdditionalDataType"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PayerAdditionalDataListType">
		<xsd:annotation>
			<xsd:documentation>
				Represents a list of Additional Data for Beneficiary Identity
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="additionalData" type="PayerAdditionalDataType"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="IdentificationListType">
		<xsd:annotation>
			<xsd:documentation>
				Represents a list of Identityfication objects
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="identification" type="IdentificationType"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
		
	<xsd:complexType name="PayerIdentityResponseType">
		<xsd:annotation>
			<xsd:documentation>
				Represents a response PayerIdentity data,
				it
				differs from the type used by the type used
				for adding and updating Identity data in that
				it has 2 fields, created
				date and expiry
				date which are useful when viewing the full history
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PayerIdentityType">
				<xsd:sequence>
					<xsd:element name="createdDate" type="epcore:GenericDateType"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="expiredDate" type="epcore:GenericDateType"
						minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
		
	<xsd:complexType name="PayerIdentityIDType">
        <xsd:annotation>
            <xsd:documentation>
            	ComplexType wrapper for the payer identity UID.
            </xsd:documentation>
        </xsd:annotation>    
    	<xsd:sequence>
			<xsd:element name="payerIdentityID" type="epcore:UIDType" 
				minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
    </xsd:complexType>
    
</xsd:schema>